<div fxLayout="column wrap" style=" " class="bg-grey" fxLayoutAlign="start stretch" [fxShow]="true">
  <header>
    <h1 style="text-align:center;">
      Account Management</h1>
  </header>
  <div fxLayout="column wrap" class="bg-grey" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column" class="bg-grey table">
      <table mat-table [dataSource]="page?.tableData" matSort class="table-width-fix">
        <tr mat-header-row *matHeaderRowDef="[&apos;name&apos;,&apos;surname&apos;,&apos;ID&apos;,&apos;number&apos;,&apos;email&apos;,&apos;status&apos;]"></tr>
        <tr mat-row (click)="selectedRow(row)" *matRowDef="let row; columns: [&apos;name&apos;,&apos;surname&apos;,&apos;ID&apos;,&apos;number&apos;,&apos;email&apos;,&apos;status&apos;];"></tr>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-grey">Name </th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey on-hover">{{table.name }}</td>
        </ng-container>

        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-grey">Surname</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey">{{table.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-grey">Id number</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey">{{table.ID}}</td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-grey">Cell number</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey">{{table.number}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="bg-grey">Email address</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey">{{table.email}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="bg-grey">Status</th>
          <td mat-cell *matCellDef="let table; let i = index;" class="bg-grey">{{table.status}}</td>
        </ng-container>
      </table>
    </div>
  </div>
</div>